.*
*.pyc
*.pyo
src/dist*
src/dist/*
src/build
src/build/*
*.swp
*.swo
*~
nbproject
nbproject/*
output
output/*
src/t/output
src/t/output/*
src/t/pubmed_AIDS.csv
src/t/*.tar.gz
src/t/output/*.sql
src/t/output/*.db
db.tar.bz2
db/
gexfs/
inDistribution.png
index/
log/
outDistribution.png
report.html
tinasoft.egg-info/
shared/nltk_data/*
