*.pyc
*.pyo
dist/
build/
*.swp
*.swo
*~
nbproject/
db/
index/
tinasoft-log.txt*
TinasoftPytextminer.egg-info/
user/
*.cache
releases/
scripts/
*.log
shared/nltk_data
shared/tagger.pickle
shared/gexf/*.cache
