.*
*.pyc
src/dist*
src/dist/*
src/build
src/build/*
*.swp
*.swo
*~
nbproject
nbproject/*
output
output/*
src/t/output
src/t/output/*
src/t/pubmed_AIDS.csv
src/t/*.tar.gz
src/t/output/*.sql
src/t/output/*.db

